<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-07-30T02:56:18Z</date>
	<key>WorkspacePath</key>
	<string>/Users/paulfaustin/Documents/My Docs/My Working/M4/M4-Besigue/M4-Besigue.xcodeproj</string>
</dict>
</plist>
